<ul class="article-wrapper">
    <li *ngFor="let item of articleList">
      <a class="title" [routerLink]="[ 'detail', item.article_id ]">{{item.title}}</a>
      <p class="e2e-inner-html-bound" [innerHTML]="item.content | htmlFilter"></p>
      <div class="meta">
        <a class="nikename">{{item.nikename}}</a>
        <a>
          <i class=""></i>
          {{item.comment}}
        </a>
        <a>
          <i class=""></i>
          {{item.like}}
        </a>
      </div>
    </li>
  </ul>
  