.ba-wrapper {
    max-width: 1200px;
    margin: 10px auto;
  
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }
  
  .funcion-area button {
    margin-right: 15px;
  }
  