<div class="ba-wrapper">
  <div class="nav">
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzSelected>
        <i nz-icon nzType="mail"></i>
        首页
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="appstore"></i>
        文章管理
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="appstore"></i>
        用户管理
      </li>
    </ul>
    <div class="funcion-area">
      <ng-container *ngIf="tokenService.check();else LogoutTpl">
        <nz-avatar nzIcon="user" class="m-r-16"></nz-avatar>
        <button nz-button nzType="default" (click)="logout()">登出</button>
      </ng-container>
      <ng-template #LogoutTpl>
        <button nz-button nzType="primary" (click)="login()">登录</button>
        <button nz-button nzType="default" (click)="register()">注册</button>
      </ng-template>
      <button nz-button nzType="primary" nzShape="round" (click)="write()">写文章</button>
    </div>
  </div>
  <!-- <nz-upload class="avatar-uploader" nzAction="/api/article/upload" nzName="avatar" nzListType="picture-card"
    [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" [nzCustomRequest]="customReq"
    (nzChange)="handleChange($event)">
    <ng-container *ngIf="!avatarUrl">
      <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
      <div class="ant-upload-text">Upload</div>
    </ng-container>
    <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
  </nz-upload> -->
  <app-article-list [articleList]="articleList"></app-article-list>
</div>
